* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    font-size: min(calc(1em + 1vw), 4em);
  }
  
  body {
    min-height: 100vh;
  
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern' 1, 'liga' on, 'dlig' on;
    line-height: 1.5;
  
    color: DarkSlateGray;
    background-color: silver;
  }
  
  body > * {
    padding: 0.2rem;
  }
  
  header {
    background-color: white;
    margin-bottom: 1rem;
    color: silver;
  }
  
  header > h1 {
    font-size: 1rem;
    text-align: right;
  }
  .container {
    position: relative;
    width: 500px ;
    height: 200px ;
  border: solid 2px;
  margin-left: 500px;
  color: azure;
  
    
  
  
  }
  #link{
      overflow: hidden;
      position: relative;
      display: inline-block;
    }
    
    a::before,
    a::after {
     content: '';
      position: absolute;
      width: 100%;
      left: 0;
    }
     /*a::before {
      background-color: #54b3d6;
      height: 2px;
      bottom: 0;
      transform-origin: 100% 50%;
      transform: scaleX(0);
      transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    } */
    a::after {
      content: attr(data-replace);
      height: 100%;
      top: 0;
      transform-origin: 100% 50%;
      transform: translate3d(200%, 0, 0);
      transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
      color: #c054d6;
    }
    
    a:hover::before {
      transform-origin: 0% 50%;
      transform: scaleX(1);
      color: black
    }
    a:hover::after {
      transform: translate3d(0, 0, 0);
    
    }
    
    a span {
      display: inline-block;
      transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    }
    
    a:hover span {
      transform: translate3d(-200%, 0, 0);
    }
  
  
    a {
      text-decoration: none;
      color: #18272F;
      font-weight: 700;
      vertical-align: top;
    }
  
  
  
  
  
  
