body{
  margin: 0;
  font-size: 1.2em;
  display: block;
  background-color: #272932;
  color: #ecf8f8;
}

header{
  text-align: center;
  font-size: 1.8em;
  font-weight: 600;
  color: #ecf8f8;
}

h2{
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  padding-top: 0;
}

.a{
  border: 1px solid;
  border-radius: .5em;
  border-color: #272932;
  padding: 1em;
  margin: 10px;
  background-color: #454545 ;
}

.box{
  display: inline-block;
  border: 1px solid;
  border-color: #272932;
  margin: .5em;
  border-radius: .25em;
  width: 4.5em;
  height: 4.5em;
}

.background{
  background-color: #272932;
}

.text{
  background-color: #ecf8f8;
}
.primary{
  background-color: #947EB0;
}

.secondary{
  background-color: #519879;
}

.accent{
  background-color: #FB8B24;
}