.topic-typo {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "h3 h3"
        "li1 h1"
        "h4 h4"
        "li2 h2";
}

.topic-typo ul li:nth-child(1) {
    list-style: none;
    gap: 1em;
    padding: 0;
    margin: 0;
    grid-area: li1;
}

.h1 {
    font-size: 1em;
    font-weight: 600;
    font-family: 'Halton-bold';
    grid-area: h1;
}


.topic-typo ul li:nth-child(2) {
    list-style: none;
    gap: 1em;
    padding: 0;
    margin: 0;
    grid-area: li2;
}

.h2 {
    font-size: 1em;
    font-weight: 100;
    font-family: 'Halton';
    grid-area: h2;
}

.topic-typo:nth-child(3) h3 {
    font-size: 1em;
    font-weight: 600;
    font-family: 'Halton';
    grid-area: h3;
}

.topic-typo:nth-child(4) h4 {
    font-size: 1em;
    font-weight: 600;
    font-family: 'Halton';
    grid-area: h4;
}