:root {
  --wit: #FFF;
  --geel: #FFD05F;
  --cyaan: #46BECD;
  --turkoois: #25AE93;
  --blauw: #606EB3;
  --bruin: #6A4955;
  --zand: #C9B5B2;
  --grijs: #444444;
  --licht-grijs: #DDDDDD;
  --licht-zwart: #525151;
  --border: 2px solid var(--grijs);
  --gradient-color-magenta: linear-gradient(332deg, #B9005F 0%, #E30059 100%);
}

@font-face {
  font-family: 'Fira Sans Regular';
  src:
    url('./fonts/FiraSans-Regular.ttf');
}

@font-face {
  font-family: 'Fira Sans Medium';
  src:
    url('./fonts/FiraSans-Medium.ttf');
}

body {
  background-color: var(--licht-grijs);
}

.container {
  width: 66vw;
}

.typografie-styleguide {
  background-color: var(--wit);
  border-radius: 0.4rem;
  padding: 0.625rem;
  max-width: 70rem;
  margin: auto;
}

.sg-heading {
  border-bottom: var(--border);
  padding: 0.625rem; 
  max-height: 8rem;
  min-height: 8rem;
  display: flex;
  justify-content: center;
}

.voorbeeld-box-links {
  min-width: 34rem;
}

.voorbeeld-box-rechts {
  max-width: 15em;
}

.heading-informatie {
  display: flex;
}

.heading-kopje-text {
  margin: auto;
  font-size: 1.1rem;
  font-weight: 600;
}

.tekst-kopje-informatie {
  padding-left: 2px;
  padding-top: 2px;
  color: var(--licht-zwart);
}

.tekst-van-informatie {
  padding-left: 2px;
  padding-top: 0px;
}

.font-family-informatie {
  min-width: 9rem;
  min-height: 4.5rem;
  margin: auto;
}

.font-size-informatie {
  min-width: 9rem;
  min-height: 4.5rem;
  margin: auto;
}

.line-height-informatie {
  min-width: 9rem;
  min-height: 4.5rem;
  margin: auto;
}

h1 {
  font-size: 36px;
  font-family: 'Fira Sans Medium';
  font-weight: inherit;
  letter-spacing: -0.02em;
  margin: auto;
  padding: 0.625rem;
}

h2 {
  font-size: 32px;
  font-family: 'Fira Sans Medium';
  font-weight: inherit;
  letter-spacing: -0.02em;
  margin: auto;
  padding: 0.625rem;
}

h3 {
  font-size: 24px;
  font-family: 'Fira Sans Medium';
  font-weight: inherit;
  letter-spacing: -0.02em;
  margin: auto;
  padding: 0.625rem;
}

h4 {
  font-size: 20px;
  font-family: 'Fira Sans Medium';
  font-weight: inherit;
  letter-spacing: -0.02em;
  margin: auto;
  padding: 0.625rem;
}

h5 {
  font-size: 18px;
  font-family: 'Fira Sans Medium';
  font-weight: inherit;
  letter-spacing: -0.02em;
  margin: auto;
  padding: 0.625rem;
}

h6 {
  font-size: 16px;
  font-family: 'Fira Sans Medium';
  font-weight: inherit;
  letter-spacing: -0.02em;
  margin: auto;
  padding: 0.625rem;
}

p {
  font-size: 16px;
  font-family: 'Fira Sans Regular';
  margin: auto;
  padding: 0.625rem;
}

.linkjes {
  font-size: 16px;
  font-family: 'Fira Sans Medium';
  font-weight: inherit;
  letter-spacing: -0.02em;
  margin: auto;
  padding: 0.625rem;
}