@font-face {
  font-family: "Halton";
  src: url(assets/Halton/Halton\ regular.otf);
}

@font-face {
  font-family: "Halton";
  src: url(assets/Halton/Halton\ regular-italic.otf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Halton";
  src: url(assets/Halton/Halton\ bold.otf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Halton";
  src: url(assets/Halton/Halton\ bold-italic.otf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Halton";
  src: url(assets/Halton/Halton\ light.otf);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Halton";
  src: url(assets/Halton/Halton\ light-italic.otf);
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "Halton";
  src: url(assets/Halton/Halton\ thin.otf);
  font-weight: 100;
}

@font-face {
  font-family: "Halton";
  src: url(assets/Halton/Halton\ thin-italic.otf);
  font-weight: 100;
  font-style: italic;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  src: url(assets/Halton/Halton\ regular.otf) format("opentype");
  /* url(assets/Halton/Halton\ regular-italic.otf) format('opentype'),
    url(assets/Halton/Halton\ bold.otf) format('opentype'),
    url(assets/Halton/Halton\ bold-italic.otf) format('opentype'),
    url(assets/Halton/Halton\ light.otf) format('opentype'),
    url(assets/Halton/Halton\ light-italic.otf)   format('opentype'),
    url(assets/Halton/Halton\ thin.otf) format('opentype'),
    url(assets/Halton/Halton\ thin-italic.otf) format('opentype'); */
}

@font-face {
  font-family: "Halton-bold";
  src: url(assets/Halton/Halton\ bold.otf) format("opentype");
  font-display: swap;
}

/* /small screen/ */
@media (min-width:320px) {
  body {
    margin: 0;
    font-family: 'Halton', serif;
    font-weight: normal;
    font-size: 1em;
    display: block;
    background-color: #272932;
    color: #ecf8f8;
  }

  header {
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
    color: #ecf8f8;
  }

  main {
    margin: 0 1em 3em 1em;
  }

  h1 {
    margin: 0.5em 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  h2 {
    align-items: center;
    margin: 0 0 1em 0;
    position: relative;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    color: #947EB0;
  }

  h2::after {
    content: "";
    display: block;
    height: 0.5px;
    background: #ecf8f8;
  }

  h4 {
    text-transform: uppercase;
  }

  p {
    margin: 1em 0 0.5em 0;
    font-weight: 100;
  }

  .a {
    /* border: 0.5px solid #ecf8f8;
  border-radius: .25em;*/
    padding: 1em;
    margin: 10px;
    /* background-color: #454545; */
  }


  /* KLEUREN */
  .box {
    display: inline-block;
    /* border: 1px solid; */
    border-color: #272932;
    margin: .5em;
    border-radius: .25em;
    width: 3.3em;
    height: 3.3em;
  }

  .background {
    background-color: #272932;
  }

  .text {
    background-color: #ecf8f8;
  }

  .primary {
    background-color: #947EB0;
  }

  .secondary {
    background-color: #519879;
  }

  .accent {
    background-color: #FB8B24;
  }


  /* BUTTONS */
  .button {
    margin: 0 0.4em;
    padding: 0.4em 1.5em;
    font-size: 0.5em;
    text-transform: uppercase;
    border-radius: 1000px;
    border-style: none;
    color: #272932;
    background-color: #947EB0;
    cursor: pointer;
  }

  .button:disabled {
    cursor: not-allowed;
    opacity: 50%;
  }

  .destructive {
    background-color: #FB8B24;
    cursor: disabled;
  }

  .recommended {
    background-color: #519879;
  }

  .minor {
    background-color: transparent;
    color: #519879;
  }

  .minor:hover {
    text-decoration: underline;
  }

  /*Grid layout*/ .a {
    display: block;
    padding: 1em;
  }

  .topic {
    border-bottom: 1px solid;
    padding: .8em;
  }

  .wel {
    border-bottom: 1px solid;
    padding: .8em;
  }

  .niet {
    padding: .8em;
  }
}

/*medium screen*/

@media (min-width: 415px) {
  body {
    margin: 0;
    font-family: "Halton", serif;
    font-weight: normal;
    font-size: 1em;
    display: block;
    background-color: #272932;
    color: #ecf8f8;
  }

  header {
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
    color: #ecf8f8;
  }

  main {
    margin: 0 10em 10em 10em;
  }

  h1 {
    margin: 0.5em 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  h2 {
    align-items: center;
    margin: 0 0 1em 0;
    position: relative;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    color: #947eb0;
  }

  h2::after {
    content: "";
    display: block;
    height: 0.5px;
    background: #ecf8f8;
  }

  h4 {
    text-transform: uppercase;
  }

  p {
    margin: 1em 0 0.5em 0;
    font-weight: 100;
  }

  .a {
    /* border: 0.5px solid #ecf8f8;
  border-radius: .25em; */
    padding: 1em;
    margin: 10px;
    /* background-color: #454545; */
  }

  /* KLEUREN */
  .box {
    display: inline-block;
    /* border: 1px solid; */
    border-color: #272932;
    margin: .5em;
    border-radius: .25em;
    width: 4.3em;
    height: 4.3em;
  }

  .background {
    background-color: #272932;
    border: 2px solid;
    border-color: white;
    position: relative;
    top: -5%;
  }

  .text {
    background-color: #ecf8f8;
    position: relative;
    top: -15%;
  }

  .primary {
    background-color: #947eb0;
    position: relative;
    top: -15%;
  }

  .secondary {
    background-color: #519879;
    position: relative;
    top: -15%;
  }

  .accent {
    background-color: #fb8b24;
    position: relative;
    right: 1%;
    top: 25%;
  }

  /* BUTTONS */
  .button {
    margin: 0 0.5em;
    padding: 0.7em 2em;
    font-size: 0.7em;
    text-transform: uppercase;
    border-radius: 1000px;
    border-style: none;
    color: #272932;
    background-color: #947eb0;
    cursor: pointer;
  }

  .button:disabled {
    cursor: not-allowed;
    opacity: 50%;
  }

  .destructive {
    background-color: #fb8b24;
    cursor: disabled;
  }

  .recommended {
    background-color: #519879;
  }

  .minor {
    background-color: transparent;
    color: #519879;
  }

  .minor:hover {
    text-decoration: underline;
  }

  /*Grid layout*/

  .a {
    display: grid;
    grid-template-areas:
      "a a"
      "b c"
      "b d";
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }

  .title-topic {
    grid-area: a;
  }

  .topic {
    padding: 1.1em;
    grid-area: b;
    border-bottom: 0;
  }

  .wel {
    border-bottom: 1px solid;
    padding: 1.1em;
    grid-area: c;
  }

  .niet {
    padding: 1.1em;
    grid-area: d;
  }
}

@media (min-width:1024px) {

  /*large screens*/
  body {
    margin: 0;
    font-family: "Halton", serif;
    font-weight: normal;
    font-size: 1.5em;
    display: block;
    background-color: #272932;
    color: #ecf8f8;
  }

  header {
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    color: #ecf8f8;
  }

  main {
    margin: 0 10em 10em 10em;
  }

  h1 {
    margin: 0.5em 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  h2 {
    align-items: center;
    margin: 0 0 1em 0;
    position: relative;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bold;
    color: #947eb0;
  }

  h2::after {
    content: "";
    display: block;
    height: 0.5px;
    background: #ecf8f8;
  }

  h4 {
    text-transform: uppercase;
  }

  p {
    margin: 1em 0 0.5em 0;
    font-weight: 100;
  }

  .a {
    /* border: 0.5px solid #ecf8f8;
  border-radius: .25em; */
    padding: 1em;
    margin: 10px;
    /* background-color: #454545; */
  }

  /* KLEUREN */
  .box {
    display: inline-block;
    /* border: 1px solid; */
    border-color: #272932;
    margin: 0.5em;
    border-radius: 0.25em;
    width: 4.5em;
    height: 4.5em;
  }

  .background {
    background-color: #272932;
  }

  .text {
    background-color: #ecf8f8;
  }

  .primary {
    background-color: #947eb0;
  }

  .secondary {
    background-color: #519879;
  }

  .accent {
    background-color: #fb8b24;
  }

  /* BUTTONS */
  .button-topic{
    grid-template-areas: 
    "a a"
    "b b
    "b b"
    ;
  }
  .button .title-topic{
    grid-area: a;
  }
  .button {
    margin: 0 0.5em;
    padding: 0.75em 2em;
    font-size: 0.65em;
    text-transform: uppercase;
    border-radius: 1000px;
    border-style: none;
    color: #272932;
    background-color: #947eb0;
    cursor: pointer;
    grid-area: b;
  }

  .button:disabled {
    cursor: not-allowed;
    opacity: 50%;
  }

  .destructive {
    background-color: #fb8b24;
    cursor: disabled;
  }

  .recommended {
    background-color: #519879;
  }

  .minor {
    background-color: transparent;
    color: #519879;
  }

  .minor:hover {
    text-decoration: underline;
  }

  /*Grid layout*/

  .a {
    display: grid;
    grid-template-areas:
      "a a"
      "b c"
      "b d";
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }

  .title-topic {
    grid-area: a;
  }

  .topic {
    border-right: 0;
    padding: 1.2em;
    grid-area: b;
  }

  .wel {
    border-bottom: 1px solid;
    padding: 1.2em;
    grid-area: c;
  }

  .niet {
    padding: 1.2em;
    grid-area: d;
  }
}
/* tekst posities kleuren */
.black {
  position: absolute;
  bottom: -80%;
  left: -12%;
}

.zwart {
  position: absolute;
  bottom: -120%;
  left: -12%;
}

.purple {
  position: relative;
  bottom: -114%;
  left: 12%;
}

.paars {
  position: relative;
  bottom: -123%;
}

.green {
  position: relative;
  bottom: -115%;
}

.groen {
  position: relative;
  bottom: -122%;
}

.white {
  position: relative;
  top: 115%;
}

.wit {
  position: relative;
  top: 122%;
}

.orange {
  position: relative;
  right: -120%;
  bottom: -20%;
}
/* lijnen tussen kleur en kleurcode */
.border {
  border-bottom: 1px solid rgb(255, 255, 255);
  position: relative;
  top: 65%;
  border-style: solid;
  right: 3%;
  border-radius: 50%;
}

.line {
  border-bottom: 3px white solid;
  position: relative;
  bottom: -103%;
  border-radius: 50%;
  width: 25%;
  left: 20%;
}
