*,*::after,::before {
    font-family:'itc agg',serif;
}

@font-face{
    font-family:'itc agg',serif;
    src:("styles/fonts/fa-brands-400.woff2");
    font-style:normal;
    font-weight:400;

}

body{
    
    


}